body {
  margin: 0;
  background-color: white;
  position: relative;
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
  .navbar {
    font-family: "Crete Round", serif;
    font-family: "Rye", cursive;
    background-color: #e6dace;
    .navIcon {
      height: 3em;
      transform: rotate(45deg);
    }
  }
  .headerImage {
    background-image: url("../../../public/img/green_plants.jpg");
    height: 350px;
    width: 100%;
  }
}




