
body{
    margin: 0;
    background-color: white;
}
header{
    font-family: 'Crete Round', serif;
    font-family: 'Rye', cursive;
    nav{
        background-color: $navBgColor3;
        .navIcon {
        height: 3em;
        transform: rotate(45deg);
    }
    }
}