.introduction{
    display: flex;

    div{
        position: relative;
        .right{
            
            width: 30%;
            background-color: $navBgColor3;
        }
        .left{
            
            width: 70%;
            // border: 1px solid black;
            .introText{
                width: 60%;
            }
            h1{
                font-family: 'Fredericka the Great', cursives;
                font-size: 5em;
                text-align: center;
                margin: 0.5em ;
            }

            h2{
                font-family: 'Inspiration', cursive;
                font-weight: bolder;
                font-size: 3.5em;
                text-align: center;
                color: #332f2f;
                margin: 0.5em;
            }
            p{
                font-family:'Crete Round', serif ;
                color: #575050;
                font-weight:bold ;
                font-size: large;
                padding: 0.5em;

                a{

                    text-decoration: dotted;
                    color: rgb(83, 156, 83);
                }
            }
            ul{
                width: 100%;
                li{
                    font-family:'Crete Round', serif;
                    font-size: medium;
                    color: #575050;
                }
            }
        }
        .card{
            height: max-content;
            width: 20em;
            border-radius: 2em;
            display: flex;
            flex-direction: column;
            justify-content: center; 
            align-items: center;
            position: absolute;
            top: 10em;
            left: 62%;
            background-color: $navBgColor2 ;
            box-shadow: 3px 3px 15px 5px rgba(165, 213, 133, 0.803);
            border: none;
  
                .ownerImage{
                    margin-top: 2em;
                    margin-bottom: 1.5em;
                    height: 9.375em;
                    width: 50%;
                    border-radius: 50%;
                }
                .info{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 1em; 
                    font-family: 'Crete Round', serif;
                    hr{
                        height: 2px;
                        color: #ff002f;
                        width: 50%;
                    }
                    p{
                        font-size: medium;
                        font-weight: 600;
                    }
                }
                .social_media{
                    
                    background-color: white;
                    border-bottom-left-radius: 2em;
                    border-bottom-right-radius: 2em;
                }
            
        }
    }
}

  @media  screen and(max-width: 414px) {
      * {
          margin: 0;
      }
    .introduction{
        display: flex;
        flex-direction: column;
        div{
            position: relative;
            .right{
                display: none;
            }
            .left{
                width: 100%;
                .introText{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    h1{
                        font-size: 3em;
                        margin: 0;
                        width: max-content;
                    }
                }
            }
                .card{
                    display: none;
            height: max-content;
            width: 5em;
            border-radius: 2em;
           
            flex-direction: column;
            justify-content: center; 
            align-items: center;
            background-color: $navBgColor2 ;
            box-shadow: 3px 3px 15px 5px rgba(165, 213, 133, 0.803);
            border: none;
  
                .ownerImage{
                    margin-top: 2em;
                    margin-bottom: 1.5em;
                    height: 9.375em;
                    width: 50%;
                    border-radius: 50%;
                }
                .info{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 1em; 
                    font-family: 'Crete Round', serif;
                    hr{
                        height: 2px;
                        color: #ff002f;
                        width: 50%;
                    }
                    p{
                        font-size: medium;
                        font-weight: 600;
                    }
                }
                .social_media{
                    
                    background-color: white;
                    border-bottom-left-radius: 2em;
                    border-bottom-right-radius: 2em;
                }
            
        }
        }
    }
  }
   