.consultations{
    margin-top: 3em;
    .container{
        .row{
            .col{
                display: flex;
                flex-direction: column;
                align-items: center;
                img{
                    height: 11em;
                    width: 50%;
                    object-fit: fill;
                    border-radius: 60%;
                    border: 5px solid lightblue ;
                }
                .image1{
                    object-fit: cover;
                }
                .image2{
                    object-fit: cover;
                }
                h3{
                    margin-top: 1.5em
                }
            }
        }
    }

}